
.contact ul{
    display:inline-flex;
    list-style: none;
   
}
.contact ul li{
    
    width:160px;
    margin:15px;
    padding:15px;
}
.contact ul li a{
    margin-top: 100px;
    text-decoration:none;
    color:rgb(59, 111, 96);
    font-weight: 200;
}
.fa{
    margin-right: 8px;
}
.contact p a{
    color:rgb(2, 29, 29);
    text-decoration: none;
}
body{
    
    background-image: url('plain.webp');
    background-repeat: no-repeat;
    background-size:1400px 800px;
}
.para{
    margin-top: 50px;
    line-height: 2;

}
.para h4{
    color:rgb(144, 62, 109);
}