.contact ul{
    display:inline-flex;
    list-style: none;
    
   
}
.contact ul li{
    
    width:160px;
    margin:15px;
    padding:15px;
   
}
.contact ul li a{
    margin-top: 100px;
    text-decoration:none;
    color:rgb(41, 3, 26);
    font-weight: 700;
}
.fa{
    margin-right: 8px;
}
.contact p{
    margin-top: 50px;
    color:rgb(1, 29, 29);
    text-decoration: none;
}
body{
    
    background-image: url('plain.webp');
    background-repeat: no-repeat;
    background-size:1400px 800px;
}
.para{
    margin-top: 50px;
    line-height: 2;
    display: flex;
    
    justify-content: space-between;

}
.para p{
    width: 40%;
}

h4{
    color:rgb(5, 52, 44);
}
.icons{
    text-align: center;
    display:inline-flex;
    list-style: none;
    border-bottom: 0px;
}
.icons .tooltip{
    padding:15px;
    margin:15px;
   
    background: rgb(242, 238, 240);
    text-align: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.icons .tooltip i .fab{
    size:10px;
    text-align: center;
    
}
.contact-in
{
width: 50%;
height: 300px;
}
#newsletter{
    margin-top: 0px;   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-position: 20% 30%;
    background-color: #041e42;
    margin-bottom: 0;
}
