

.contact ul{
    margin-top: 0;
    display:inline-flex;
    list-style: none;
    
   
}
.contact ul li{
    
    width:160px;
    margin:15px;
    padding:15px; 
}

.contact ul li a{
    text-decoration:none;
    color:rgb(41, 3, 26);
    font-weight: 700;
}
.fa{
    margin-right: 8px;
}
.contact p{
    margin-top: 0px;
    color:rgb(1, 29, 29);
    text-decoration: none;
}

.icons{
    margin-left: 1100px;
    display:inline-flex;
    list-style: none;
}
.icons .tooltip{
    padding:14px;
    margin:15px;
   
    background: rgb(121, 123, 123);
    text-align: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.icons .tooltip i .fab{
    size:10px;
    text-align: center;
}
.icons .tooltip i:hover{
    
    color: rgb(228, 239, 242);
}
