body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    
    
}
h1{
   
    justify-content: center;
}

.pot1 {
    margin:10px;
    text-align: center;
    
}
.p h3{
    margin-top: 0px;
    text-align:center;
}
.pic{
    position:relative;
}
.pic h3{
    position:absolute;
    top: 170px;
    left:10px;
}
.ppot{
    position:relative;  
}
.ppot h3{
    position:absolute;
    top: 10px;
    left:10px;  
}
.pppot{
    position:relative;  
}
.pppot h3{
    position:absolute; 
}
.ppppot{
     
    text-align: center;
}
.ppppot{

}
