*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    
}
body
{
    margin-top: 0;
    background-image:url('pexels-photo-776656.webp');
    background-size: 100% 800px;
    
    background-repeat: no-repeat;
    
    font-family: sans-serif;
}
.menu-bar
{
background: rgb(0,100,0);
text-align:center;
}
.menu-bar ul
{
    display:inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width:120px;
    margin:15px;
    padding:15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover
{
background:#3cc021;
border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
display: block;
position: absolute;
background: rgb(0,100,0);
margin-top: 15px;
margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #b2ff00;
}
.fa-angle-right
{
    float: right;
}
.sub-menu-2
{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0,100,0);
}
.toptext P{
    text-align: center;
    margin-top: 110px;
    color: #02123b;
}

#newsletter{
    margin-top: 500px;   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-position: 20% 30%;
    background-color: #041e42;
    margin-bottom: 0;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    
    color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14PX;
    width: 100%;
    border: 1PX solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.section-p1{
    padding: 40px 80px;
   
}

.section-m1{
    margin: 40px 0;
}
h4{
    font-size: 20px;
    color: black;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
body{
    width: 100%;
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{ 
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
 }
 footer .logo{
    margin-bottom: 30px;
 }
 footer h4{
    font-size: 14px;
    padding-bottom: 20px;
 }
 footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
 }
 footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
 }
 footer .follow{
    margin-top: 20px;
 }
   
footer .follow i{
    color: #591c40;
    padding-right: 4px;
    cursor: pointer;
    animation: blink 3s infinite;
}
@keyframes blink {
    0% {
        opacity:1;
      }
    50% {
      opacity: .2;
      transform: scale(1);
    }
  }
 
footer .install .row{
    border: 1px solid #02123b;
    border-radius: 7px;
}
footer .install .row .normal{
    color:#b2ff00;
    font-size:12px;
}
footer .install .row .normal:hover{
    pointer-events: visibleFill;
    color: rgb(14, 55, 14);
}
.copyright p{
    text-align: center;
}
.copyright p a{
    text-decoration: none;
    color: #606c8a;
}
.copyright p a:hover{
    color: #02123b;
}

