{% extends 'layout.html'%}

{% block content %}
<head>
    <link rel="stylesheet" href="{{url_for('.static', filename ='contact.css')}}">
    <title>Contact  us</title>
</head>
<body>

<div class="contact">
    <ul>
<li class="active"><a href="{{url_for('contact')}}"><i class="fa-solid fa-phone"></i>Contact Us</a></li>
<li><a href="#">PlantMe&CO</a></li>
</ul>

    <p><h2>CONTACT US</h2> <br> <h3>We love it when people get in touch </h3></p>
<div class="para">
<p>
    Our phone lines are open <br>
    
    9am-5pm Monday to Friday and from 9am-1pm on Saturday<br>
    
    Ngongroad (Main & Shop)<br>
</p>
<div class="contact-in">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8182307269435!2d36.82099861430526!3d-1.2828905359832192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f115ce419c437%3A0x4c2ac0525fca5157!2sSawa%20mall!5e0!3m2!1sen!2ske!4v1672310794080!5m2!1sen!2ske" 
                     width="400px"
                     height="300px" 
                     style="border:0;" 
                     allowfullscreen="" 
                     loading="lazy" 
                     referrerpolicy="no-referrer-when-downgrade">                               
     </iframe>   
</div>
</div>
<h4>0716 736 387</h4><br>
    Nairobi CBD<br>
<h4>0716 736 387/8 </h4><br>
<div class="icons">
    <div class="tooltip"><span><i class="fab fa-facebook-f"></i></span></div>
    <div class="tooltip"><span><i class="fab fa-instagram"></i></span></div>
    <div class="tooltip"><span><i class="fab fa-twitter"></i></span></div>

</div>
</div>

</body>
{%endblock%}