<html>
    <head>
        <title> Plantme</title>
        
        <link rel="stylesheet" href="{{url_for('.static', filename ='stingo.css')}}">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
    <body>
            <div class="menu-bar">
            <ul>
            <li class="active"><a href="{{url_for('indigo')}}"><i class="fa fa-house"></i>Home</a></li> 
            <li><a href="#"><i class="fa fa-user"></i>About Us</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Vission</a></li>
                        <li><a href="#">Team</a></li>
                    </ul>
            
                 </div>
            </li>
            <li><a href="#"><i class="fa fa-clone"></i>Services</a>
                <div class="sub-menu-1">
                    <ul>
                        <li class="hover-me"><a href="#">Interior Decor</a><i class="fa fa-angle-right"></i>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="#">Favorite plant</a></li>
                                    <li><a href="{{url_for('liveartificial')}}">Live & Artificial</a></li>
                                    <li><a href="{{url_for('pots')}}">Pot Preference</a></li>
                                </ul>
                        
                             </div>
                        
                        </li>
                        <li class="hover-me"><a href="#">Landscape Design</a><i class="fa fa-angle-right"></i>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="{{url_for('plant_lighting')}}">Plant and Lighting packages</a></li>
                                    <li><a href="{{url_for('site_analysis')}}">Site Analysis</a></li>
                                    <li><a href="{{url_for('pots')}}">Pot and plant Layout</a></li>
                                </ul>
                        
                             </div>
                        </li>
                        <li class="hover-me"><a href="#">Garden Design</a><i class="fa fa-angle-right"></i>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="{{url_for('gardend')}}">Latest Garden Design Projects</a></li>
                                    <li><a href="{{url_for('plant_lighting')}}">Inspiration guide</a></li>
                                    <li><a href="#">Reviews</a></li>
                                </ul>
                        
                            </div>
                        </li>
                        <li class="hover-me"><a href="#">Plant Supply and Delivery</a><i class="fa fa-angle-right"></i>
                            <div class="sub-menu-2">
                                <ul>
                                    <li><a href="#">Right Plant to your Doorstep</a></li>
                                </ul>
                        
                             </div>
                        </li>
                    </ul>
            
                 </div>
            </li>
            <li><a href="#"><i class="fa fa-users"></i>Clients</a></li>
            <li><a href="#"><i class="fa fa-inr"></i>Pricing</a></li>
            <li><a href="{{url_for('contact')}}"><i class="fa fa-phone"></i>Contact</a></li>
            </ul>
        </div>
       {{% block content %}} {{% endblock %}}
            <section id="newsletter"  class="section-p1 section-m1">
                <div class="newstext">
                    <h4>Sign Up For Newsletters</h4>
                    <p>Get E-mail updates about our latest shop and <span>special offers</span>.</p>
                </div>
                <div class="form">
                    <input type="text" placeholder="Your email address">
                    <button class="normal">Sign Up</button>
                </div>
            </section>
            <footer class="section-p1">
                <div class="col">
                    <h4>Contact</h4>
                    <p><strong>Address:</strong>Moi Avenue, Nairobi CBD</p>
                    <p><strong>Phone:</strong>(+254) 716 736 387/8</p>
                    <p><strong>Hours:</strong>9am-5pm Mon-Fri and 9am-1pm Sat</p>
                    <div class="follow">
                        <h4>Follow us</h4>
                        <div class="icon">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-pinterest-p"></i>
                            <i class="fab fa-youtube"></i>
                        </div>
                     </div>
                </div>
                <div class="col">
                      <h4>About</h4>
                      <a href="#">About Us</a> 
                      <a href="#">Delivery Information</a> 
                      <a href="#">Privacy Policy</a> 
                      <a href="#">Terms & Conditions</a>
                      <a href="#">Contact Us</a>   
                </div>
                <div class="col">
                    <h4>My Account</h4>
                    <a href="#">Sign In</a> 
                    <a href="#">View Cart</a> 
                    <a href="#">My Wishlist</a> 
                    <a href="#">Track My Order</a>
                    <a href="#">Help</a>  
                    
                </div>
                
              <div class="col install">
                    <h4>Install App</h4>
                    
                    <p>From App Store or Google Play</p>
                        <div class="row">
                            <button class="normal">Download</button>
                        </div>
                    
              </div>
              
              
            </footer>
            <div class="copyright">
               
                <p><a href="{{url_for('contact')}}">© Plantme & Co</a> | <a href="{{url_for('contact')}}">Sitemap</a> | Powered by homelandpltdesign.com | Legal </p>
              </div>
        </body>

</html>