<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" <link rel="stylesheet" href="{{url_for('.static', filename='live&artificial.css')}}">
</head>
<body>
    
       
    
    <div class="heading">
        <img src="https://secure.img1-cg.wfcdn.com/im/11784401/resize-h755-w755%5Ecompr-r85/1120/112063397/38%27%27+Faux+Palm+Plant+in+Wood+Planter.jpg" alt="plant" style="width:100%;">
        <div class="centered">
            <h1>Live & Artificial Plants</h1>
        </div>
        <div class="txt">
            <h1>About</h1>
            <p>Live plants are nice, but they have to be maintained and watered, which means that they either have to take care of them by themselves, or have a company like us come in every couple of weeks and maintain them. In contrast, artificial plants keep looking good and never droop or go brown.
    
            </p>
        </div>
        
    </div>    
    

</body>
</html>