<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('.static', filename ='stingo.css')}}">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('.static', filename='liveartificial.css')}}">
</head>
<body> 
    <div class="menu-bar">
        <ul>
        <li><a href="{{url_for('indigo')}}"><i class="fa fa-house"></i>Home</a></li> 
        <li><a href="#"><i class="fa fa-user"></i>About Us</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="#">Mission</a></li>
                    <li><a href="#">Vission</a></li>
                    <li><a href="#">Team</a></li>
                </ul>
        
             </div>
        </li>
        <li><a href="#"><i class="fa fa-clone"></i>Services</a>
            <div class="sub-menu-1">
                <ul>
                    <li class="hover-me"><a href="#">Interior Decor</a><i class="fa fa-angle-right"></i>
                        <div class="sub-menu-2">
                            <ul>
                                <li><a href="#">Favorite plant</a></li>
                                <li><a href="#">Live & Artificial</a></li>
                                <li><a href="{{url_for('pots')}}">Pot Preference</a></li>
                            </ul>
                    
                         </div>
                    
                    </li>
                    <li class="hover-me"><a href="#">Landscape Design</a><i class="fa fa-angle-right"></i>
                        <div class="sub-menu-2">
                            <ul>
                                <li><a href="{{url_for('plant_lighting')}}">Plant and Lighting packages</a></li>
                                <li><a href="{{url_for('site_analysis')}}">Site Analysis</a></li>
                                <li><a href="{{url_for('pots')}}">Pot and plant Layout</a></li>
                            </ul>
                    
                         </div>
                    </li>
                    <li class="hover-me"><a href="#">Garden Design</a><i class="fa fa-angle-right"></i>
                        <div class="sub-menu-2">
                            <ul>
                                <li><a href="{{url_for('gardend')}}">Latest Garden Design Projects</a></li>
                                <li><a href="{{url_for('plant_lighting')}}">Inspiration guide</a></li>
                                <li><a href="#">Reviews</a></li>
                            </ul>
                    
                         </div>
                </li>
                <li class="hover-me"><a href="#">Plant Supply and Delivery</a><i class="fa fa-angle-right"></i>
                    <div class="sub-menu-2">
                        <ul>
                            <li><a href="#">Right Plant to your Doorstep</a></li>
                        </ul>
                
                     </div>
                </li>
            </ul>
    
         </div>
    </li>
    <li><a href="#"><i class="fa fa-users"></i>Clients</a></li>
    <li><a href="#"><i class="fa fa-inr"></i>Pricing</a></li>

    </ul>
</div>
    
    <div class="heading">
        <img src="https://secure.img1-cg.wfcdn.com/im/11784401/resize-h755-w755%5Ecompr-r85/1120/112063397/38%27%27+Faux+Palm+Plant+in+Wood+Planter.jpg" alt="plant" style="width:100%;">
        <div class="centered">
            <h1>Live & Artificial Plants</h1>
        </div>
        <div class="txt">
            <h1>About</h1>
            <p>Live plants are good,natural and full of life, however they have to be maintained and watered, which means that one either has to take care of them by themselves, or have us come every couple of weeks to maintain them for you. In contrast, artificial plants keep looking good and never droop or go brown.
            </p>
        </div>
        
    </div>    
    

</body>
</html>