{% extends 'layout.html'%}

{% block content%}
    <link rel="stylesheet" href="{{url_for('.static', filename='plant_lighting.css')}}">
    <title>Plant and Lighting</title>

<div class="icons">
    <div class="tooltip"><span><i class="fab fa-facebook-f"></i></span></div>
    <div class="tooltip"><span><i class="fab fa-instagram"></i></span></div>
    <div class="tooltip"><span><i class="fab fa-twitter"></i></span></div>

</div>
<div class="contact">
  

    <p><h2>For Your home designs and lighting needs;</h2> <br> We love to get you the ideas from a different perspective<br>
       We consider the Landscaping materials, Garden structures and features, Prefered plants, Lighting and Utilities</p>

    <div class="para">
    <img src = "static/picsfile/p_l0.jpg" > 
    <img src = "static/picsfile/p_l.jpg" height="300px" width="300px"> <img src = "static/picsfile/p_l001.jpg"><img src = "static/picsfile/p_l0001.jpg"  height="400px" width="300px">
    <img src = "static/picsfile/p_l01.jpg"> <img src = "static/picsfile/p_l2.jpg"> <img src = "static/picsfile/p_l00001.jpg">
    </div>
    <ul>
    <li><a href="#">PlantMe&CO</a></li>
    <li><a href="{{url_for('contact')}}"><i class="fa-solid fa-phone"></i>Contact Us</a></li>
    </ul>
</div>
{%endblock%}