{% extends 'layout.html'%}

{% block content%}
    <title>Pots Preference</title>
  
    <link rel="stylesheet" href="{{url_for('.static', filename='pot.css')}}">

    <nav>
        <h1>Get the pot patterns, sizes and colours that excite you</h1>
    </nav>
    <hr>
   <br>
    <h3>It's time to pretty up those planters!</h3>
    <p>Suitable for indoor and outdoor use alike, <br>these gorgeous and modern ceramic planters work great on a tabletop or the floor</p>
        <div class="ppot">
            <img src = "static/picsfile2/pot4.jpg" >
            <h3>Woven pots</h3>
        </div>
        <div class="pic">
            <img src = "static/picsfile2/pots1.jpg" height="350" width="350">
            <h3>patterned pots</h3>
        </div>
        <br>
        <div class="pppot">
        <img src = "static/picsfile2/pots3.jpg" height="400" width="400"> 
                        <img src = "static/picsfile2/pot3.jpg" height="300" width="300">
                        <img src = "static/picsfile2/pots8.jpg" width="400">
        <h3>Plain pots</div>
    </div>
    <div class="ppppot">
        <img src = "static/picsfile2/pots7.jpg" height="350" width="350">
        <h3>pots</h3>
    </div>
    
        
       
    </div>
{%endblock%}