{% extends 'layout.html'%}

{% block content%}
    <link rel="stylesheet" href="{{url_for('.static', filename='plant_lighting.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='site_analysis.css')}}">
    
    <title>Site Survey & Analysis</title>

<div class="icons">
    <div class="tooltip"><span><i class="fab fa-facebook-f"></i></span></div>
    <div class="tooltip"><span><i class="fab fa-instagram"></i></span></div>
    <div class="tooltip"><span><i class="fab fa-twitter"></i></span></div>

</div>
<div class="txt">
<h3>GARDEN SURVEY FEATURES</h3>
    <br><p>Features included in garden surveys include (by no means comprehensive):</p>
    <ul>
    <li>Buildings</li>
    <li>Trees</li>
    <li>Overhead or underground services</li>
    <li>Water features</li>
    <li> Potential risks</li>
    </ul>
    <br><br>
    A key element of garden surveys is the topography of the outdoor space – that is, <br>the lie of the land. It’s significant as it affects drainage, siting and design of new features, <br>and the amount of effort needed for earthworks.
    <br>Here at Plantme & Co we use photographs to aid recollection and support any garden surveys performed. <br>They’re indispensable when it comes to filling in the blanks or clarifying existing features.
    <br>Photos are also brilliant at capturing every step along the design process.   
</div>
<div class="landpic"><img src='static/picsfile/landscape1.jpg' height="250px" width="250px"></div>
<br><h4>DON’T HESITATE TO CONTACT US AT PLANTME & CO TO ARRANGE THE FIRST STEP IN THE CREATION OF YOUR DREAM GARDEN!</h4>

{% endblock %}
